body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;

}

.name-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.div-width {
    width: 50%;
    height: 90%;
    padding-left: 5%;
}

.div-width image {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 7px;
}

.color1 {
    color: navy;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}