body {
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 45px;

}

.name-color {
    color: orange;
}

section {
    display: flex;
}

.div-width {
    width: 50%;
    height: 90%;
    padding-left: 5%;
}

.div-width image {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.color1 {
    color: navy;
}

}